<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicons/favicon.ico" />
    <meta name="theme-color" content="#f00">
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    {% block head %}{% endblock %}
</head>
<body>
    <!--<div class="preload">
        <div class="loader">
            <div class="ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>-->
    <div id="app">
        {% block page %}{% endblock %}
    </div>
    <footer>
        <p>&copy;2016 xie jie. All rights reserved.</p>
    </footer>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    {% block foot %}{% endblock %}
</body>
</html>